.DS_Store
ChartPlot/Assets.xcassets/AppIcon *.*/
ChartPlot.xcodeproj/project.xcworkspace/xcuserdata/
ChartPlot.xcodeproj/xcuserdata/
ChartPlot.xcodeproj/project.xcworkspace/xcuserdata/tanaka.xcuserdatad/UserInterfaceState.xcuserstate
ChartPlot.xcodeproj/xcuserdata/tanaka.xcuserdatad/xcschemes/xcschememanagement.plist
